.contact-container {
  margin: 20px;
  padding: 16px;
}

.contact-title {
  font-size: 36px;
  font-weight: bold;
  margin: 28px;
  padding-left: 20px;
}

.contact-desc {
  margin: 28px;
  padding-left: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #4b5563;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 28px;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px; 
  margin-bottom: 10px;
}

.button-common {
  display: flex;
  align-items: center;   
  justify-content: center;
  gap: 8px;             
  padding: 10px 16px;
  cursor: pointer;
}

.email-btn {
  display: flex;
  align-items: center;   
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
  color: black;
  font-weight: 600;
  border: 2px solid black;
  padding: 12px;
  border-radius: 8px;
  width: 100%;
  max-width: 420px;    
  margin-left: auto;
  margin-right: auto;    
  transition: 0.3s;
}

.email-btn:hover {
  background-color: black;
  color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 28px;
}

.label {
  position: relative;
  top: 32px;
  margin-left: 12px;
  background: white;
  padding: 4px 8px;
  font-size: 14px;
  width: fit-content;
}

.input {
  border: 2px solid #d1d5db;
  border-radius: 6px;
  padding: 12px;
  margin-top: 16px;
}

.textarea {
  border: 2px solid #d1d5db;
  border-radius: 6px;
  padding: 12px;
  margin-top: 16px;
  height: 120px;
}

.contact-image {
  width: 100%;
  max-width: 300px;
  margin: 36px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.icon {
  font-size: 24px;
}